@model CategoryEditAndCreateViewModel

<main class="main-container">
    <div class="main-content">
        <form class="card form-type-combine" method="post" role="form" enctype="multipart/form-data">
            <h4 class="card-title"><strong>Edit Category</strong></h4>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <Label>Category Image</Label>
                        @*<img src="@("https://localhost:44308/images/" + Model.FileName)" class="rounded">*@
                        <img src="@("https://api.rokiba.com/images/" + Model.FileName)" class="rounded">
                        <hr>
                        <label>Upload New Image</label>
                        <div class="input-group file-group">
                            <div class="input-group-input do-float">
                                <input type="text" class="form-control file-value" readonly="">
                                <input asp-for="Files" type="file" class="form-control" multiple="" accept=".jpg,.jpeg">
                                <label>Choose file...</label>
                            </div>
                            <span class="input-group-append">
                                <button class="btn btn-light file-browser" type="button"><i class="fa fa-upload"></i></button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="require">Name</label>
                    <input type="text" class="form-control" asp-for="Name">
                </div>
                <div class="form-group">
                    <label class="require">Arabic Name</label>
                    <input type="text" class="form-control" asp-for="NameAR">
                </div>

                <div class="form-group">
                    <label>Sort Order</label>
                    <input type="text" class="form-control" asp-for="SortOrder">
                </div>

                <div class="form-group">
                    <label>Super Category</label>
                    <select asp-for="CategoryId" asp-items="@Model.Categories" class="form-control">
                        <option value="@null">None</option>
                    </select>
                </div>

                <table class="table table-separated">
                    <thead>
                        <tr>
                            <th class="w-300px">Name</th>
                            <th class="w-100px">Sort Order</th>
                            <th class="text-right w-100px">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.SubCategories)
                        {
                            <tr>
                                <td>@item.Names.FirstOrDefault(c => c.Culture == "en").Value</td>
                                <td>@item.SortOrder</td>
                                <td class="text-right table-actions">
                                    <a class="table-action hover-primary"
                                       asp-action="EditCategory" asp-controller="Category"
                                       asp-route-id=@item.Id>
                                        <i class="ti-pencil"></i>
                                    </a>
                                    <a id="deletebutton"
                                       class="table-action hover-danger"
                                       data-target="#modal-small" data-toggle="modal"
                                       name=@item.Id
                                       onclick="onDelete(this.name)">
                                        <i class="ti-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <footer class="card-footer text-right">
                @if (Model.CategoryId != null)
                {
                    <a class="btn btn-primary btn-info" asp-action="EditCategory"
                       asp-route-id=@Model.CategoryId>Return</a>
                }
                <a class="btn btn-primary btn-success" asp-action="CreateCategory"
                   asp-route-categoryId=@Model.Id>Add Sub-Category</a>
                <button class="btn btn-secondary" asp-action="Index">Cancel</button>
                <button class="btn btn-primary" type="submit" asp-action="EditCategory">Submit</button>
                @*<button class="btn btn-primary btn-danger" type="button" href="#"
                data-target="#ineditdelete" data-toggle="modal">
            Delete
        </button>*@
                <button class="btn btn-primary btn-danger" type="button" data-target="#modal-small" data-toggle="modal"
                                       name=@Model.Id
                                       onclick="onDelete(this.name)">
                    Delete
                </button>
            </footer>
        </form>
    </div>

    @*<form method="get" asp-action="DeleteCategory" asp-route-id="@Model.Id" class="modal fade" id="ineditdelete"
              tabindex="-1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Delete Category</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this item</p>
                    </div>
                    <div class="modal-footer" id="sdsd">
                        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Cancel</button>
                        <button id="submitdelete"
                                type="submit" class="btn btn-bold btn-pure btn-primary">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </form>*@

    <div class="modal fade" id="modal-small" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Delete Category</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this item</p>
                </div>
                <div class="modal-footer" id="sdsd">
                    <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">Cancel</button>
                    <a id="assertDelete" type="submit" class="btn btn-bold btn-pure btn-primary"
                       asp-action="DeleteCategory" asp-controller="Category">
                        Delete
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function onDelete(itemid) {
            newhref = $('#assertDelete').attr('href') + '/' + itemid;
            $("#assertDelete").attr("href", newhref);
        }
    </script>

</main>

